.mark-bg {
  background-color: #ffffffc4;
  color: #08205a;
  font-family: "regular";
}
.appbar-title {
  font-family: "Noto Sans Tamil", "Latha", "Arial", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #ffcc00;
  text-shadow: 1px 1px 4px #000;
}
.blink-card {
  border: none;
  border-radius: 10px;
  animation: blink-bg 2s infinite alternate;
  color: #000;
  min-width: 180px;
}
@keyframes blink-bg {
  0% {
    background-color: red;
    color: #fff;
  }
  50% {
    background-color: yellow;
    color: #000;
  }
  100% {
    background-color: red;
    color: #fff;
  }
}
@media (max-width: 576px) {
  .appbar-title {
    font-size: 1.1rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .appbar-title {
    font-size: 1.3rem;
  }
}
